@charset "UTF-8";

a{
  text-decoration: none;
}
.navbar-brand{
  transition: color 0.3s;
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: 'New Amsterdam';
  text-align: center;
  padding:0 2%;
}
.grid{
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 90px;
  gap:1px;
  font-family: 'New Amsterdam';
  margin:0 auto;
  text-align: center;

}
hr{
  border-width: 7px;
  border-color: #b3d0d7;
  border-style: solid;
}
.caption{
  font-size:18px;
  text-align: center;
  margin:0 auto;
}
.navbar-brand:hover{
  color : #ff7043;
}
.navbar-brand:active{
  color : #ff7043
}
body{
  margin-right: 50px;
  margin-left: 50px;
  font-size: 22px;
  font-family: Oswald;
}
h1{
  gap:20px;
  text-align: center;
  margin:0 auto;
  font-family: 'New Amsterdam';
  margin-bottom: 30px;
  margin-top: 20px;
}

/*footer*/
div.text-center{
  background-color: #b3d0d7;
  font-size: 17px;
  text-align: center;
}

/*index page*/
div.home-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 350px;
  flex-wrap: wrap;
  gap:50px;
  text-align: center;
  margin:30px;
  justify-content: center;

}
.sub-title{
  border-bottom: 2px #b3d0d7 solid;
  padding: 0 8px 8px;
  margin: auto;
  display: inline;
}
.sub-menu{
  list-style: none;
}
.sub-menu li{
  border-bottom: 1px #ddd solid;
  text-align: left;
  margin-left: 70px;
  padding-right: 50px;
}
.sub-menu a{
  color:#432;
  padding:10px;
  display:block;
}
.sub-menu a:hover{
  color:#0bd;
}
/*about page*/
div.icon-grid{
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 70px;
  flex-wrap: wrap;
  gap:20px;
  text-align: center;
  margin:0 auto;
}
div.icon-item{
  font-size:20px;
  text-align: center;
  margin:0 auto;
}

article{
  width:80%
}
aside{
  width:18%
}
.news-contents{
  display: flex;
  text-align: center;
}
/*news*/
.news__day{
  font-size:18px;
  text-align: left;
  font-family: Oswald;  
  margin-left: 30px;
}
.news__category{
  font-size:12px;
  font-family: Oswald;
  text-decoration: none;
  color: white;
}
button {
  background-color: #4CAF50; /* 背景色 */
  color: white; /* 文字色 */
  padding: 0px 10px; /* パディング */
  text-align: center; /* 文字のアライメント */
  text-decoration: none; /* 文字装飾 */
  display: inline-block; /* ボタンの表示方法 */
  margin:auto; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border: none; /* ボーダーなし */
  border-radius: 8px; /* 8pxの角丸 */
  
}
button:hover {
  background-color: #3e8e41;
}
.news__titleArea{
  display:flex;
}
.news__titleArea div{
  margin: 10px;
}
.category{
  font-size:16px;
  font-family: Oswald;
  text-decoration: none;
  color: white;
}
.news-mainArea{
  margin: 0 auto;
}
.news__title{
  margin-left: 50px;
  text-decoration: none;
  font-size:30px;
}
.news-textArea{
  margin-left: 80px;  
}
.news-item{
  font-size:20px;
  text-align: center;
  margin:0 auto;
}